<title>James Webb Space Telescope Feed - Featured</title>
<meta name="description" content="James Webb Space Telescope Feed. Scroll through endless mesmerizing images taken by JWST">

<head>
	<style>
		header h1 {
			font-size: 40px;
			font-weight: 600;
			background-image: url(/icons/textbg.jpg);
			background-size: 250px;
			background-repeat: repeat;
			color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
		}
	</style>
</head>

<center>
	<header>
		<h1>Jupiter's moon Europa through JWST's NIRCam eyes</h1>
	</header>
	<br />
	<img alt="James Webb Space Telescope Images" title="James Webb Space Telescope Images" src="https://mast.stsci.edu/portal/Download/file/JWST/product/jw01250-o001_t001_nircam_clear-f212n-sub64p_i2d.jpg" />
	<img alt="James Webb Space Telescope Images" title="James Webb Space Telescope Images" src="https://mast.stsci.edu/portal/Download/file/JWST/product/jw01250-o001_t001_nircam_clear-f140m-sub64p_i2d.jpg" />
	<img alt="James Webb Space Telescope Images" title="James Webb Space Telescope Images" src="https://mast.stsci.edu/portal/Download/file/JWST/product/jw01250-o001_t001_nircam_clear-f070w-sub64p_i2d.jpg" />
	<br />
	<br />
	<img alt="James Webb Space Telescope Images" title="James Webb Space Telescope Images" src="https://mast.stsci.edu/portal/Download/file/JWST/product/jw01250-o001_t001_nircam_clear-f460m-sub64p_i2d.jpg" />
	<img alt="James Webb Space Telescope Images" title="James Webb Space Telescope Images" src="https://mast.stsci.edu/portal/Download/file/JWST/product/jw01250-o001_t001_nircam_clear-f335m-sub64p_i2d.jpg" />
	<img alt="James Webb Space Telescope Images" title="James Webb Space Telescope Images" src="https://mast.stsci.edu/portal/Download/file/JWST/product/jw01250-o001_t001_nircam_clear-f250m-sub64p_i2d.jpg" />
</center>