<title>James Webb Space Telescope Feed - About</title>
<meta name="description" content="James Webb Space Telescope Feed. Scroll through endless mesmerizing images taken by JWST">

<div class="text-center">
    <div id="outer">
        <div id="middle">
            <div class="marg-bottom-container">
                <div class="marg-bottom-text">
                    <i>Contact & Inquiries</i>
                </div>
                <a class="semi-decorated-a semi-bold-text" href="malito:jwstfeed@gmail.com">jwstfeed@gmail.com</a>
            </div>
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/WebbFeed"><img src="~/icons/twitter.png" height="35" width="35" /></a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/JwstFeed"><img src="~/icons/github-logo.png" height="35" width="35" /></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.reddit.com/user/JwstFeedOfficial"><img src="~/icons/reddit-logo.png" height="35" width="35" /></a>
        </div>
    </div>
    <div class="l2-orbit-container">
        <div class="l2point">
            <img src="/icons/wood.png" class="l2point-sign" />
        </div>
        <div class="orbit">
            <div class="webb-body">
                <img src="/icons/mainlogo-small.png" class="webb-mirror" />
            </div>
        </div>
    </div>
</div>